<%= image_tag "ipad.jpg", class: "bg-image" %>
<div id="wrapper">
  <div class="location"><%= Setting.first.zipcode %></div>
  <%= form_for Setting.first, :url => party_path, html: {class: "location-form"} do |f| %>
    <%= f.text_field :zipcode, :size => 25 %>
  <% end %>
</div>
